<div class="well">
  <h1 class="banner">Long live <%= @user.user_name %>, long live <%= @nation.name %></h1>
  <div class="row">
    <div class="col-md-2">
      <h2>Culture:</h2>
      <h3><%=  @nation.culture %></h3>
    </div>
    <div class="col-md-3">
      <h2>Government:</h2>
      <h3><%= @nation.govt %></h3>
    </div>
    <div class="col-md-3">
      <h2>Economy:</h2>
      <h3><%= @nation.econ %></h3>
    </div>
    <div class="col-md-3">
      <h2> Geography:</h2>
      <h3><%= @nation.geo %></h3>
    </div>
  </div>
</div>
<div class="well">
<% if @events.any? %>
<%@events.each do |event|%>
<p>
  <%= event.name %>
</p>
<% end %>
<% else %>
 <h1>NOTHIGNS</h1>
 <% end %>
 </div>

<% if @statistics != nil %>
<%= render "/statistics/stat_display", statistics: @statistics %>
<%= link_to "Event" %>
<% end %>
